@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Josefin+Sans&display=swap');


/*
font-family: 'Abril Fatface', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;

*/

html, body{
    height: 100%;
    /* scroll-behavior: smooth; */
}

*{
    margin: 0;
    padding:0;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #8DC1A5;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 128px;
}

nav{
    /* height: 144px; */
    width: 70%;
    background-color: #8DC1A5; 
    display: flex;
    align-items: center;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    
}

nav ul li{
    height: 50px;
    flex: 1;
}

nav ul li a{
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    display: block;
    height: 40px;
    width: 100%;
    text-align:center;
    line-height: 40px;
    color:white;
    text-decoration: none;
    border-left: solid 1px white;
}

nav ul li:nth-child(1) a{
    border-left:none;
}

nav ul li a:hover{
    color: #5e8772;
}

.slide{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#accueil{
    background-color: #E2FFF0;
    height:110%;
}

#ligne1{
    width: 686px;
    margin-left: -50px;
    margin-top: 300px;
    position: relative;
}

#ligne2{
    margin-left: -50px;
    position: relative;
}


#ligne3{
    margin-left: -50px;
    position: relative;
}

#masque{
    position: absolute;
    z-index: 2;
    margin-left: -650px;
    margin-top: -240px;
}

#robe{
    position: absolute;
    z-index: 2;
    margin-left: -400px;
    margin-top: -350px;

}

#boutoncostume{
    position: relative;
    z-index: 2;
    width: 213px;
    height: 77px;
    background-color:#A8D6BD;
    font-family: 'Abril Fatface', cursive;
    color: black;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 27px;
    align-items: center;

}

#boutoncostume:hover{
    background-color:#5a836e;
    color: white;
}

#boutoncostume2{
    position: relative;
    width: 213px;
    height: 77px;
    background-color:#CAF1DC;
    margin-left: 18px;
    margin-top: -60px;
}

#vague1{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#presentation{
    background-color: #FBF4D2;
}

#ellipse3{
    position: absolute;
    right: -42px;
    bottom: 5px;
    
}

#morceauforme{
    position: absolute;
    right: -36px;
    bottom: 0px;
    z-index: 2;
}

#ellipse1{
    position: absolute;
    right: 120px;
    top:-100px;
}

#Marie-Helene{
    width: 418px;
    height: 122px;
    font-family: 'Abril Fatface', cursive;
    color: black;
    font-size: 48px;
    right: 400px;
    position: absolute;
    text-align: center;
    margin-top: 350px;
}

#costumiereetsceno{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    right: 455px;
    position: absolute;
    margin-top: 500px;
    color: black;
    z-index: 2;

}
#fluo{
    width: 330px;
    height: 20px;
    background-color: #A8D6BD;
    margin-top: 530px;
    right: 441px;
    position: absolute;

}

/**-------------------------------**/

#presentation{
    height: 110%;
}
#ellipse2{
    right: -42px;
    top: -5px;
    position: absolute;
}

#vecteur1{
    left: 0;
    bottom: 40px;
    position: absolute;
}

#vecteur2{
    left: 0;
    bottom: 205px;
    position: absolute;
}

#vecteur3{
    left: 0;
    bottom: 120px;
    position: absolute;
}

#vague2{
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}


#pres{
    font-size: 48px;
    color: black;
    font-family: 'Abril Fatface', cursive;
    margin-top: 100px;
    z-index: 150;
    position: relative;
    left:65px;

}


#fluo2{
    width: 270px;
    height: 20px;
    background-color: #EDDF98;
    opacity: 70%;
    margin-top: -27px;
    position: absolute;
    margin-left:60px;
}

#gif2 {
    background-image: url(images/gifquisuisje.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 217px;
    width: 591px;
    right: -800px;
    bottom: -8px;
    position: relative;

}

#textepres{
    font-size: 20px;
    color: black;
    margin-top: -138px;    
    font-family: 'Josefin Sans', sans-serif;
}

#textepres2{
    font-size: 20px;
    color: black;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    z-index: 100;
}

#fleche{
    margin-left:150px;
    margin-top: 70px;
}

#video{
    margin-left: 50px;
    position: relative;
    top: 200px;
}
/* 
#boutonpres{
    position: relative;
    z-index: 2;
    width: 213px;
    height: 77px;
    background-color:#EDDF98;
    font-family: 'Abril Fatface', cursive;
    color: black;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 23px;
    align-items: center;

}

#boutonpres2{
    position: relative;
    width: 213px;
    height: 77px;
    background-color:#FCF0B3;
} */

#boutonsceno:hover{
    background-color:#d0bf6d;
    color: white;
}




/**-------------------------------**/



#mescostumes{
    height: 2000px;
    background-color: #E2FFF0;
}

#formebizarre{
    position: absolute;
    right: -1px;
    top: 200px;
}

#vagueb{
    bottom: 0;
    position: absolute;
}

#groupe2{
    position: absolute;
    bottom:0;
    left: 0;
}

#titrecostume{
    font-size: 48px;
    color: black;
    font-family: 'Abril Fatface', cursive;
    margin-top: 100px;
    z-index: 100;
    position: relative;
    text-align: center;
}

#fluo3{
    width: 335px;
    height: 20px;
    background-color: #A8D6BD;
    margin-top: -27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#galerie{
    margin-top: 150px;
    position: relative;
    z-index: 50;
}


#galerie img{
    filter: grayscale(1);
    transition: filter 1s; 
}

#galerie img:hover{
    filter: grayscale(0);
}

#rangee1 {
    column-count:3;
    column-gap:15px;
    display: flex;
 }

 #rangee1 img{
    height: 417px;
    margin-bottom:15px; 
    z-index: 200;
 }

 #rangee2 {
    column-count:2;
    column-gap:15px;
    display: flex;
 }

 #rangee2 img{
    height: 353px;
    margin-bottom:15px; 
    z-index: 200;
 }

 #photo6{
    width: 1170px;
    z-index: 200;
 }

 #boutoncostumeb{
    position: relative;
    z-index: 2;
    width: 213px;
    height: 77px;
    background-color:#A8D6BD;
    font-family: 'Abril Fatface', cursive;
    color: black;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 27px;
    align-items: center;
    line-height: 2.5;
    left: 478.5px;
    bottom: -100px;
}

#boutoncostumeb2{
    position: relative;
    width: 213px;
    height: 77px;
    background-color:#CAF1DC;
    left: 496px;
    bottom: -43px;
}

#boutoncostumeb:hover{
    background-color:#5a836e;
    color: white;
}


#petitsdessins{
    z-index: 10;
    position: absolute;
    margin-top: -94px;
    margin-left: 420px;
}


/**-------------------------------**/



#messceno{
    height: 2000px;
    background-color: #FBF4D2;
}

#boutjaune{
    position: absolute;
    top: 0;
    left: 0;
}

#courbes{
    position: absolute;
    right: 0;
    bottom: 100px;
}

#encore{
    left: 0;
    position: absolute;
    bottom: 600px;
}

#titresceno{
    font-size: 48px;
    color: black;
    font-family: 'Abril Fatface', cursive;
    margin-top: 100px;
    z-index: 100;
    position: relative;
    text-align: center;
}

#fluo4{
    width: 448px;
    height: 20px;
    background-color: #EDDF98;
    margin-top: -27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.galerie{
    margin-top: 150px;
}

#rangee4 {
    column-count:3;
    column-gap:15px;
    display: flex;
 }

 #rangee4 img{
    margin-bottom:15px; 
    position: relative;
    width:587.5px;
 }

 #rangee5 {
    column-count:2;
    column-gap:15px;
    display: flex;
 }

 #rangee5 img{
    height: 410px;
    margin-bottom:15px; 
    position: relative;
 }

 #rangee6{
    column-count:2;
    column-gap:15px;
    display: flex;
 }

 #rangee6 img{
    position: relative;
    width:587.5px;
 }


 #boutonsceno{
    position: relative;
    z-index: 2;
    width: 213px;
    height: 77px;
    background-color:#EDDF98;
    font-family: 'Abril Fatface', cursive;
    color: black;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 27px;
    align-items: center;
    line-height: 2.5;
    left: 478.5px;
    bottom: -100px;
}

#boutonsceno2{
    position: relative;
    width: 213px;
    height: 77px;
    background-color:#FCF0B3;
    left: 496px;
    bottom: -43px;
}

#boutonsceno:hover{
    background-color:#d0bf6d;
    color: white;
}


#petitsdessins2{
    position: absolute;
    z-index: 10;
    left: 54%;
    bottom:105px;
}

#vague4{
    bottom: 0;
    position: absolute;
}



/**-------------------------------**/


#contact{
    background-color: #E2FFF0;
    height: 140%;
}

#triangle{
    left:0;
    bottom:50px;
    position: absolute;
}

#cercle2{
    position: absolute;
    top:50px;
    right: 0;
}


#contact2{
    font-size: 37px;
    color: black;
    font-family: 'Abril Fatface', cursive;
    margin-top: 100px;
    z-index: 150;
    position: relative;
    margin-left: 5px;
}

#fluo5{
    width: 270px;
    height: 17px;
    background-color: #A8D6BD;
    margin-top: -20px;
    position: absolute;
    margin-left: 0px;
}

#formulaire{
    margin-top: 30px;
    background-color: #F7EEC1;
    width: 350px;
    height: 150px;
}

.form-group{
    margin: 5px 0;
}

.form-group input{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 3px;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #C9B44E;
    color: black;
    margin-left: 20px;
}

.form-group input{
    width: 90%;
}


#commentaire{
    border: none;
    background-color: #F7EEC1;
    margin-top: 30px;
    padding: 10px 15px;
    width: 500px;
    resize: none;
    height: 260px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    z-index: 100;
}

#envoyer{
    font-size: 22px;
    font-family: 'Abril Fatface', cursive;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    width: 133px;
    height: 60px;
    background-color:#A8D6BD;
    border: none;
    margin-top: 30px;
    left: 250px;
    z-index: 100;

}

#envoyer2{
    position: relative;
    width: 133px;
    height: 60px;
    background-color:#CAF1DC;
    left: 270px;
    bottom: 45px;
}

#envoyer:hover{
    background-color:#5a836e;
    color: white;
}

.gif{
    background-image: url(images/giflettre.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 792px;
    width: 591px;
    right: -611px;
    bottom: 274px;
    position: relative;
}

/**-------------------------------**/





#quisuisje{
    background-color: #FBF4D2;
    height: 170%;
    padding-top: 100px;

}

#formepres1{
    position: absolute;
    top: 300px;
    left: 100px;
}

#formepres2{
    position: absolute;
    top: 300px;
    right: 0px;
}

#formepres3{
    position: absolute;
    top: 1000px;
    right: 400px;
}

#formepres4{
    position: absolute;
    top: 151.5%;
    left: 0px;
}

#pres2{
    font-size: 48px;
    color: black;
    font-family: 'Abril Fatface', cursive;
    z-index: 150;
    position: relative;
    text-align: center;
}


#fluo8{
    width: 250px;
    height: 20px;
    background-color: #EDDF98;
    opacity: 70%;
    margin-top: -27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#bio1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    padding-top: 120px;
    width: 75%;
    position: relative;
    z-index: 100;
    line-height: 25px;
}

#bio2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    width: 75%;
    padding-top: 70px;
    position: relative;
    right: -25%;
    line-height: 25px;

    

}

#bio3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    width: 75%;
    padding-top: 70px;
    position: relative;
    z-index: 100;
    line-height: 25px;

}

#bio4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    width: 75%;
    padding-top: 70px;
    position: relative;
    right: -25%;
    line-height: 25px;

}

#apprenezenplus{
    padding-top: 120px;
    font-size: 20px;
    color: black;
    margin-top: 30px;    
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}


#video2{
   position: relative;
   left: 50%;
   margin-top: 15px;
   transform: translate(-50%);
}





/**-------------------------------**/






#pagesceno{
    font-family: 'Josefin Sans', sans-serif;
    height: 300%;
    background-color: #FBF4D2;
}

#def{
    margin-top: 80px;
    position: relative;
    z-index: 100;
    background-color:#EDDF98;
    width:fit-content;
    line-height: 30px;
    font-size: 20px;

}

#textescenographie{
    padding-top: 30px;
    line-height: 30px;
    font-size: 20px;

}

#again{
    right: -60px;
    position: absolute;
}

#mesprojets{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    padding-top: 100px;
}


#galeriepagesceno{
    margin-top: 20px;
    position: relative;
    z-index: 50;
}




/**-------------------------------**/







/**-------------------------------**/


footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #FBF4D2;
    height: 150px;

}

#vague6{
    top: -64px;
    width: 100%;
    position: absolute;
    z-index: 150;
}

#vague7{
    position: relative;
    bottom: 100px;
}

#footer2{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #E2FFF0;
    height: 150px;

}

#logofooter{
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 60px;
}

#retour{
    font-size: 14px;
    width: 85px;
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 115px;
    margin-left: 7px;

}

